/target
/bookbook-neo4j-store
/bookup.error.log
/bookup.error.log.1
/bookup.error.log.2
/bookup.error.log.3
/bookup.error.log.4
/bookup.error.log.5
/bookup.error.log.html
/bookup.error.log.html.1
/bookup.errorlog.html
/bookup.errorlog.html.1
/bookup.errorlog.html.2
/bookup.errorlog.html.3
/bookup.errorlog.html.4
/bookup.errorlog.html.5
/bookup.html.error.log
/bookup.html.error.log.1
/bookup.html.error.log.html
/.DS_Store
